.container{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

}
.postDiv{
    width: 90%;
    height: 30%;
    background: darkseagreen;
    border: 1px solid darkolivegreen;
    display: flex;
    justify-content: space-around;
}
.postParagraph{
    width: 20%;
    border-right: 1px solid darkolivegreen;
    background: antiquewhite;
    font-size: 20px;
}
p{
    font-size: 20px;
    color: darkslategrey;
}
.commentsDiv{
    width: 90%;
    height: 65%;
    background: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid darkolivegreen;
}
.commentBox{
    width: 15%;
    height: 90%;
    background: darkseagreen;
    border-right: 1px solid darkolivegreen;
}