@media screen and (min-width: 0) and (max-width: 576px) {
.father{
    height: 150vh;
}
.top{
    column-gap: 1px;
    height: 5%;
}
.middle{
    flex-direction: column;
    height: 80%;
}
    .first{
        width: 100%;
        height: 10%;
    }
    .block3{
        height: 100%;
    }
    .container_89{
        display: none;
    }
    .second{
        width: 100%;
        height: 90%;
    }
    .blocks_45, .block7{
        height: 15%;
    }
    .blocks_67{
        height: 85%;
        flex-direction: column;
        row-gap: 10px;
    }
    .block6{
        height: 85%;
    }
    .block6, .block7{
        width: 100%;
    }
 .hide_89{
     display: flex;
 }
.blockbottom{
    height: 10%;
}
}