.father{
    background: #cfd8e0;
    width: 100%;
    height: 700px;
}
.child1{
    background: #cfd8e0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block{
    background: #142d40;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
}
.icons{
    /*background: #5ec3b6;*/
    width: 150px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    width: 30px;
    height: 30px;
    color: slateblue;
}
.child2{
    background: #142d40;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 25px;
    position: center;
}
.square{
    background: #6c64dd;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    top: 75px;
}